[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "==1.8.5"
sphinx_rtd_theme = "*"
sphinx-autobuild = "*"
sphinx-versions = ">=1.1.0"
invoke = "*"
typing = {version = "*", markers="python_version >= '3.0' and python_version < '3.5'"}
pyyaml = ">=3.13"

[requires]
python_version = "3"
